

 .slick-slide > div {
   
   margin:0 10px;
 }    
 .avis_slider{
  background-color: #003366;
  padding: 7px;
  left: 10px;
  right: 10px;
 }   
 .block{
  background-color: white;
  padding: 4px;
  margin: 2px;
  border-radius: 5px;
 }  
 .avatar{
  border-radius: 200%;
  width: 50px;
 }
 .div1{
  display: flex;
  display:grid ;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 3;
 }