.App {
  text-align: center;
}

.App-logo {
  height: 70vmin;
  z-index: 1;
  pointer-events: none;
  border-radius: 100%;
  background:
    radial-gradient(white 1.5px, transparent 1.5px) 5px 8px,
    radial-gradient(white 2px, transparent 2px) 30px 15px,
    radial-gradient(white 1px, transparent 1px) 18px 35px,
    radial-gradient(white 1.2px, transparent 1.2px) 25px 5px,
    radial-gradient(white 1.8px, transparent 1.8px) 38px 12px,
    radial-gradient(white 1px, transparent 1px) 40px 30px,
    radial-gradient(white 2px, transparent 2px) 70px 10px,
    radial-gradient(white 1px, transparent 1px) 100px 20px,
    radial-gradient(white 1.8px, transparent 1.8px) 110px 5px,
    radial-gradient(white 1.5px, transparent 1.5px) 130px 15px,
    radial-gradient(white 1px, transparent 1px) 140px 40px,
    radial-gradient(white 1.2px, transparent 1.2px) 160px 10px;
  background-size: 170px 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
